[submodule "eigen"]
	path = eigen
	url =  https://gitlab.com/libeigen/eigen.git
[submodule "src/test/googletest"]
	path = src/test/googletest
	url = https://github.com/google/googletest.git
[submodule "floatx"]
	path = floatx
	url = https://github.com/nazavode/FloatX.git
